<p id="notice"><%= notice %></p>

<h1>Home Proyects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Large description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @home_proyects.each do |home_proyect| %>
      <tr>
        <td><%= home_proyect.name %></td>
        <td><%= home_proyect.description %></td>
        <td><%= home_proyect.large_description %></td>
        <td><%= link_to 'Show', home_proyect %></td>
        <td><%= link_to 'Edit', edit_home_proyect_path(home_proyect) %></td>
        <td><%= link_to 'Destroy', home_proyect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Home Proyect', new_home_proyect_path %>
