<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @industrial_proyect.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @industrial_proyect.description %>
</p>

<p>
  <strong>Large description:</strong>
  <%= @industrial_proyect.large_description %>
</p>

<% if admin_signed_in? %>
  <%= render 'iadjuntos/form', industrial_proyect_id: @industrial_proyect.id %>
<% end %>
<ul>
  <% @industrial_proyect.iadjuntos.each do |li| %>
    <li>
      <p>
        <%= image_tag (li.imagen.url) %>
          <span><%=  link_to "x", li, method: :delete %></span>
        </p>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_industrial_proyect_path(@industrial_proyect) %> |
<%= link_to 'Back', industrial_proyects_path %>
